*{
    margin: 0;
    padding: 0;
    font-family: "lexend",sans-serif;

}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #faf5e4;
    /* perspective: 100px; */

}
a{
    text-decoration: none;
    color: #004445;
}

header{
    position: fixed;
    color: #004445;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    background-color: #faf5e4;
    
    /* background-color: blueviolet */

}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 50px;
}
.name{
    margin-left: 50px;
    font-size: 20px;
}
.hire-btn{
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: #004445;
    color: #f8b400;
    transition: 0.15;
    cursor: pointer;
    
}
.hire-btn:hover{
    background-color: #004445c9;
    scale: 1.05;
     color: #ffffff;
     /* cursor: pointer; */

}
main{
    height: 90vh;
    display: flex;
}
.left{
    width: 50vw;
    /* border: 5px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.left img{
    /* width: 450px; */
    width:300px; 
     height: 300px; 
    border-radius: 50%;
}
.right{
    width: 50vw;
    display: flex;
    align-items: center;
  
}
.content{
    width: 40vw;
}
.content P{
    text-align: justify;
}
.content h1{
    font-size: 40px;
}
.content button{
    padding: 15px 30px;
    border: none;
    background-color: #004445;
    color: #f8b400;
    font-size: 15px;
    border-radius: 5px;
    transition: 0.1s;

}
.content button:hover{

     background-color: #004445c9;
    scale: 1.05;
     color: #ffffff;
     cursor: pointer; 


}
.about{
    height: 80vh;
    display: flex;
    /* flex-direction: column; */
    
    align-items: center;
    justify-content: center;
}
.heading{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading h1{
    font-size: 50px;
    color: #004445;
}
.about-content{
    height: 70vh;
    background-color: #004445;
    width: 70vw;
    border-radius: 25px;
    transition: 0.2s;
    color: #faf5e4;
    /* flex-direction: column; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;

}

.about-content:hover{
    /* transform: translateX(-10px,-10px); */
    box-shadow: 0px 0px 20px black;
}
.letter{
    width: 60vw;
    font-size: 20px;
}
.services{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.services-grid{
    /* height: 90vh;
    width: 100vw; */
    /* display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 300px 300px ;
    gap: 60px; */


    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 250px 250px;
    gap: 30px;
}
.card{
   
    display: flex;
    font-size: 25px;
    border-radius: 20px;
    align-items: center;
    padding: 20px;
    justify-content: center;
    background-color: #004445;
    color: #faf5e4;
    transition: 0.2s;
    
}
     
.card h1{
    transition: 0.2s;
}   



.card:hover{
    transform: rotate(5deg);
    box-shadow: 15px 15px 0 black;
}
.card h1:hover{
transform: translateX(20px);
}
.contact{
    height: 80vh;
    display: flex;

} 
.contact-left{
    display: flex;
    align-items: center;
    justify-content:center; 
    width: 50vw;
    height: 90vh;
    
}
.contact-right{
    width: 50vw;
    height: 90vh;
    /* border: 5px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    width: 40vw;
}
.left-center h1{
font-size: 100px;
}
.social-logo img{
width: 60px;
margin: 20px;
}
.contact-form{
    /* padding: 30px;
    height: 300px;width: 300px; */
    /* background-color: #00444547; */
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     */
}
.contact-form input{
    padding: 10px;
    height: 20px;
    width: 300px;
    background: none;
    border: 2px solid #004445;
    border-radius: 5px;
}
.contact-form textarea{
    padding: 10px;
    height: 100px;
    width: 300px;
    background: none;
     border: 2px solid #004445;
    border-radius: 5px;

}
.contact-form label{
    color: #004445;
    font-size: 20px;
}
.contact-form input:hover{
    border: 2px solid #f8b400;
}
.contact-form textarea:hover{
      border: 2px solid #f8b400;

}
#contact-btn{
    padding:10px 20px ;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: #004445;
    color: #f8b400;

}

#contact-btn:hover{
     background-color: #004445c9;
    scale: 1.05;
     color: #ffffff;
     cursor: pointer; 
}
            
footer{
    display: flex;
    align-items: end;
    justify-content: space-between;
    height:10vh ;
    background-color: #004445;
}
footer span{
    color: #faf5e4;
    /* margin-bottom: 20px; */
    margin: 30px;
     

}


